<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatwaysList</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Port Russel</h1>
    <h2>Voici la liste des Catways</h2>
    <ul>
        <% catways.forEach(catway => { %>
            <li>
                <a href="/catways/<%= catway._id %>">
                    Catway Number: <%= catway.catwayNumber %>, 
                    Type: <%= catway.type %>, 
                    State: <%= catway.catwayState %>
                </a>
            </li>
        <% }); %>
    </ul>

  


    
</body>
</html>
