<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Catway</title>
</head>
<body>
    <h1>Détails du Catway</h1>
    <p>Numéro de Catway : <%= catway.catwayNumber %></p>
    <p>Type : <%= catway.type %></p>
    <p>Description de l'état : <%= catway.catwayState %></p>
</body>
</html>
