<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catways</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Catways</h1>
    <ul>
        <% catways.forEach(catway => { %>
            <li><a href="/catways/<%= catway._id %>"><%= catway.catwayNumber %></a></li>
        <% }); %>
    </ul>
</body>
</html>
