<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Catway</title>
</head>
<body>
    <h1>Détails du Catway</h1>
    <p>Numéro de Catway : <%= catway.catwayNumber %></p>
    <p>Type : <%= catway.type %></p>
    <p>Description de l'état : <%= catway.catwayState %></p>

    <h3>Supprimer un Catway</h3>
<form action="/catways/:id" method="POST">
    <p>Êtes-vous sûr de vouloir supprimer ce catway ? Cette action est irréversible.</p>
    <button type="submit">Supprimer Catway</button>
</form>

</body>
</html>
