<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Port Russel</h1>
    <h2>Bienvenue sur notre application de gestion des réservations de catways.</h2>

    
    <ul>
        <li><a href="/catways">Liste des Catways</a></li>
        <li><a href="/reservations">Liste des Réservations</a></li>
        
    </ul>
</body>
</html>

