<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Port Russel</h1>
    <h2>Bienvenue sur notre application de gestion des réservations de catways.</h2>

    <h3>Connection a votre tableau de bord</h3>
    <form action="/login" method="POST">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
    
    <a href="/documentation">Documentation de l'API</a>
</body>
</html>

