<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservations</title>
</head>
<body>
    <h1>Liste des Réservations</h1>
    <ul>
        <% reservations.forEach(reservation => { %>
            <li><a href="/reservations/<%= reservation._id %>">Réservation <%= reservation._id %></a></li>
        <% }); %>
    </ul>
</body>
</html>
